.container {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
}
header {
    height: 81px;
    margin-left: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-ul {
    display: flex;
}
.header-li {
    margin-right: 45px;
    font-size: 15px;
    color: #303134;
}
/* section-1 */
.s-1 {
    background-image: linear-gradient(#08eab5, #24d2fe);
    width: 100%;
    height: 570px;
}
.s1-wrapper {
    height: 570px;
    background-image: url("/images/bg.png");
    opacity: 80%;
}
#grad1 {
    margin-top: 118px;
}
.price {
    position: relative;
    margin-left: 528px;
}
.s1p1 {
    position: absolute;
    margin-top: -58px;
    margin-left: 45px;
    font-size: 21px;
    color: #006cd1;
    font-weight: bold;
}
.discover {
    margin-top: 20px;
    margin-left: 95px;
    display: flex;
    justify-content: space-between;
}
.fa-arrow-right,
.fa-arrow-left {
    margin: 10px;
}
.header-arrow {
    width: 33px;
    height: 33px;
    background-color: #fff;
    margin-top: 60px;
}
h1 {
    font-size: 78px;
    color: #fff;
    margin-bottom: 55px;
}
.s1-p2 {
    font-size: 18px;
    color: #fff;
    margin-left: 130px;
}

/* section-2 */
.s-2 {
    display: flex;
    margin-top: 80px;
    margin-left: 95px;
}
.s2-div {
    width: 242.5px;
    height: 237.6px;
}
.s2-p1 {
    font-size: 15px;
    color: #8d8d8d;
    margin-bottom: 15px;
}
.s2-h2 {
    font-size: 25px;
    margin-bottom: 13px;
    color: #1a1a1b;
}
.s2-p2 {
    margin-top: 30px;
    font-size: 15px;
    color: #8d8d8d;
}
.s2-card-wrapper {
    margin-left: 58px;
}
.up,
.down {
    display: flex;
    justify-content: space-between;
}
.card1 {
    width: 270.1px;
    height: 327.4px;
    margin-left: 30px;
}
.card-h2 {
    font-size: 17px;
    color: #1a1a1b;
    margin-top: 10px;
}
.card-p {
    font-size: 15px;
    color: #8d8d8d;
    margin-top: 12px;
}

/* section-3 */

.s3-div {
    background-image: url(/images/bg5.png);
    background-repeat: no-repeat;
    margin-top: 49px;
    height: 500px;
}
.s3-text {
    position: absolute;
    margin-top: 70px;
    margin-left: 548px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s3-p {
    font-size: 15px;
    color: #fff;
    margin-bottom: 14px;
}
.s3-h2 {
    margin-bottom: 13px;
    font-size: 25px;
    color: #fff;
}
video {
    margin-top: 186px;
    margin-left: 349px;
}
.s3-icon-wrapper {
    margin-top: 107px;

    display: flex;
    justify-content: space-around;
}
.s3-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-p1 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 33px;
    columns: #1a1a1b;
    font-family: "Lato", sans-serif;
}
.icon-p2 {
    font-size: 16px;
    margin-top: 9px;
    columns: #1a1a1b;
}

/* section-line */
.section-line {
    max-width: 100%;
    height: 2px;
    background-color: #ebebeb;
    margin-top: 68px;
}

/* section-4 */
.s4-text {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s4-p {
    font-size: 15px;
    color: #8d8d8d;
    margin-bottom: 14px;
}
.header-h2 {
    font-size: 25px;
    color: #1a1a1b;
    margin-bottom: 8px;
}
.s4-cards {
    margin-top: 67px;
    display: flex;
    justify-content: space-evenly;
    max-width: 65%;
    margin-left: 245px;
}
.s4-p1 {
    font-size: 14px;
}
.s4-h2 {
    font-size: 19px;
    color: #4b54fa;
    font-weight: bold;
}
