.container {
    /* max-width: 1360px; */
    width: 100%;
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    scroll-behavior: smooth;
}
header {
    height: 81px;
    margin-left: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
.header-ul {
    display: flex;
}
.header-li {
    margin-right: 45px;
    font-size: 15px;
    color: #303134;
}
/* section-1 */
.s-1 {
    background-image: linear-gradient(#2af598, #08aeea);
    width: 100%;
    height: 570px;
}
.s1-wrapper {
    height: 570px;
    background-image: url("/images/bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    opacity: 80%;
}
#grad1 {
    margin-top: 118px;
}
.price {
    position: relative;
    margin-left: 650px;
}
.s1p1 {
    position: absolute;
    margin-top: -58px;
    margin-left: 45px;
    font-size: 21px;
    color: #006cd1;
    font-weight: bold;
}
.discover {
    margin-top: 20px;
    margin-left: 95px;
    display: flex;
    justify-content: space-around;
}

.fa-arrow-left,
.fa-arrow-right {
    margin: 10px;
}
.header-arrow1 {
    width: 33px;
    height: 33px;
    background-color: #fff;
    margin-top: 60px;
    cursor: pointer;
}
h1 {
    font-size: 78px;
    color: #fff;
    margin-bottom: 55px;
}
.s1-p2 {
    font-size: 18px;
    color: #fff;
    margin-left: 130px;
}

/* section-2 */
.s-2 {
    display: flex;
    margin-top: 80px;
    margin-left: 95px;
}
.s2-div {
    width: 242.5px;
    height: 237.6px;
}
.s2-p1 {
    font-size: 15px;
    color: #8d8d8d;
    margin-bottom: 15px;
}
.s2-h2 {
    font-size: 25px;
    margin-bottom: 13px;
    color: #1a1a1b;
}
.s2-p2 {
    margin-top: 30px;
    font-size: 15px;
    color: #8d8d8d;
}
.s2-card-wrapper {
    margin-left: 58px;
}
.up,
.down {
    display: flex;
    justify-content: space-between;
}
.card1 {
    width: 270.1px;
    height: 327.4px;
    margin-left: 30px;
}
.card-h2 {
    font-size: 17px;
    color: #1a1a1b;
    margin-top: 10px;
}
.card-p {
    font-size: 15px;
    color: #8d8d8d;
    margin-top: 12px;
}

/* section-3 */

.s3-div {
    background-image: url(/images/bg5.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    width: 100%;
    margin-top: 49px;
    height: 500px;
}
.s3-text {
    position: absolute;
    margin-top: 70px;
    margin-left: 590px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s3-p {
    font-size: 15px;
    color: #fff;
    margin-bottom: 14px;
}
.s3-h2 {
    margin-bottom: 13px;
    font-size: 25px;
    color: #fff;
}
video {
    margin-top: 186px;
    margin-left: 390px;
}
.s3-icon-wrapper {
    margin-top: 107px;

    display: flex;
    justify-content: space-around;
}
.s3-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-p1 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 33px;
    columns: #1a1a1b;
    font-family: "Lato", sans-serif;
}
.icon-p2 {
    font-size: 16px;
    margin-top: 9px;
    columns: #1a1a1b;
}

/* section-line */
.section-line {
    max-width: 100%;
    height: 2px;
    background-color: #ebebeb;
    margin-top: 68px;
}

/* section-4 */
.s4-text {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s4-p {
    font-size: 15px;
    color: #8d8d8d;
    margin-bottom: 14px;
}
.header-h2 {
    font-size: 25px;
    color: #1a1a1b;
    margin-bottom: 8px;
}
.s4-cards {
    margin-top: 67px;
    display: flex;
    justify-content: space-evenly;
    max-width: 65%;
    margin-left: 245px;
}
.s4-card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s4-p1 {
    font-size: 14px;
    margin-top: 17px;
    margin-bottom: 16px;
}
.s4-h2 {
    font-size: 19px;
    color: #4b54fa;
    font-weight: bold;
    margin-bottom: 9px;
}
.s4-card1 {
    position: relative;
}
.s4-card1 :hover {
    transform: scale(1.05);
    transition: all 1s ease;
    cursor: pointer;
}
.honeymoon {
    position: absolute;
    font-size: 14px;
    width: 98px;
    height: 25px;
    background-color: #fed701;
    margin-top: -235px;
    margin-left: 10px;
    padding: 6px 9px;
}
.holiday {
    position: absolute;
    font-size: 14px;
    width: 67px;
    height: 25px;

    background-color: #fed701;
    margin-top: -235px;
    margin-left: 10px;
    padding: 6px 9px;
}

/* section-5 */
.s-5 {
    background-image: url(/images/bg3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 350px;
    margin-top: 71px;
    position: relative;
}
.s5-text {
    position: absolute;
    margin-top: 82px;
    margin-left: 432px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s5-h2 {
    font-size: 34px;
    color: #fff;
    margin-bottom: 32px;
}
.s5-p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 60px;
}
.s5-form {
    position: absolute;
    margin-top: 250px;
    margin-left: 394px;
    display: flex;
}
#email1 {
    width: 395px;
    height: 50px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    font-size: 16px;
    padding: 17px 30px;
}
button[type="button"] {
    width: 155px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 25px;
    font-size: 16px;
    color: #08aeea;
    background-color: #fff;
    margin-left: 22px;
    cursor: pointer;
}

/* section-6 */
.s6-text {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s6-headerp {
    font-size: 15px;
    margin-bottom: 9px;
}
.s6-h2 {
    font-size: 25px;
    margin-bottom: 9px;
}
.s6-cards {
    margin-top: 82px;
    display: flex;
    justify-content: space-evenly;
}
.s6-card1 {
    max-width: 368px;
    height: 409px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f4f4f4;
}
.s6-p1 {
    color: #4b54fa;
    margin-bottom: 37px;
}
.s6-p2 {
    margin-bottom: 20px;
}
.s6card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 70%;
}
/* section-7 */
.s-7 {
    background-image: url(/images/bg4.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: fill;
    background-attachment: scroll;
    height: 505px;
    position: relative;
}
.s7-div {
    position: absolute;
    margin-top: 320px;
    margin-left: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s7-p {
    font-size: 36px;
    color: #fff;
}
button[type="submit"] {
    width: 170px;
    height: 50px;
    margin-top: 50px;
    border-radius: 25px;
    color: #fff;
    border: none;
    background-image: linear-gradient(#08aeea, #2af598);
    cursor: pointer;
}
/* section-8 */
.s8-cards {
    margin-top: 70px;
    margin-left: 70px;
    display: flex;
}
.s8-text {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s8-p1 {
    font-size: 13px;
    color: #8d8d8d;
    margin-bottom: 14px;
}
.s8-h2 {
    font-size: 25px;
    margin-bottom: 9px;
}

.s8-card1 {
    position: relative;
}
.s8-card1 :hover {
    transform: scale(1.05);
    transition: all 1s ease;
    cursor: pointer;
}
.s8-country {
    font-size: 30px;
    color: #fff;
    margin-bottom: 7px;
}
.s8-price {
    font-size: 14px;
    color: #fff;
}
.card-text {
    position: absolute;
    margin-top: -100px;
    margin-left: 50px;
}
.s8-arrow {
    margin-top: -40px;
    margin-left: 200px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 3px;
    background-image: linear-gradient(#08aeea 0%, #2af598 100%);
}
/* section-9 */

/* footer */
footer {
    height: 349px;
    background-color: black;
}
.col-wrapper {
    display: flex;
    justify-content: space-evenly;

    font-family: "Roboto", sans-serif;
}
.footer-p1 {
    margin-top: 54px;
    font-size: 25px;
    color: #fff;
}
.footer-ul {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-li {
    color: #8d8d8d;
}
.col-4 {
    margin-top: 58px;
}
.footer-p2 {
    color: #fff;
    margin-bottom: 18px;
}
.footer-input {
    max-width: 343px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
#footer-input1 {
    border: none;
    padding: 15px 20px;
}
.footer-search {
    width: 48px;
    height: 48px;
    background-image: linear-gradient(#08aeea 0%, #2af598 100%);
    padding: 15px;
    font-size: 20px;
}
.footer-line {
    max-width: 1360px;
    height: 3px;
    color: #8d8d8d;
}
.rights {
    margin-top: 20px;
    font-size: 19px;
    color: #8d8d8d;
    margin-left: 538px;
}
